@import "normalize.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'Work Sans', sans-serif;
    }
  }

$backgroundColor:#f00;

header{
    position: fixed;
    width: 100%;
    top:0;
    z-index: 2;
}

.raw_cost_table {
    border-collapse: collapse;
    border: 1px solid #000;
    margin: auto;
    thead{
        font-weight: bold;
        position: sticky;
        top: 0;
        background: aliceblue;
        border: 1px solid black;
    }
    th{
        text-align: center;
        border: 1px solid black;
        padding: 6px 10px;
    }

    .bold{
        font-weight: bold;
    }
    .borderTop{
        border-top: 1px solid #000000;
    }
    .borderTopAndBottom{
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
    }
    .borderDoubleTop{
        border-top: 3px solid #000000;
    }
    .borderDoubleTopBottom{
        border-top: 3px solid #000000;
        border-bottom: 3px solid #000000;
    }
}


/* Tabultor table */

#cost-table.tabulator{
    margin-top: 43px;
	transform: none!important;

    .tabulator-header{
        background-color: #fff;
        position: fixed;
        z-index: 2;
        width: 100%;
        top: 44px;
        .tabulator-headers{
            .tabulator-col{
                background-color: #FFFFFF!important;
                border: none;
                .tabulator-col-content{
                    .tabulator-col-title{
                        white-space: normal;
                    }
                }
                
                &:nth-child(1), &:nth-child(2){
                    text-align: left;
                }
                text-align: right;
            }
        }

    }

    .tabulator-tableholder{
        padding-top: 30px;
        .tabulator-table{
            position:relative;
            margin-bottom: 16px;
            .tabulator-row{
                .tabulator-cell{
                    border-right: none;
                    background-color: #FFFFFF;
                }

                &:last-child{
                    position: fixed;
                    bottom: 0;
                    background-color: #fff;
                    border: 1px solid #000000;
                }
            }
            .tabulator-selectable{

            }
            .tabulator-row .tabulator-cell {
                /*white-space: normal;*/
            }
            .tabulator-row-odd{

            }
            .tabulator-row-even{

            }
    
        }
    
    }
}


.tabulator-header.sticky{
    top:44px;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.tabulator-header.sticky + .tabulator-tableholder{
    padding-top: 31px;
}



div.cost-table {
  height: 900px;
  border: 1px solid black;
}

